PURCHASING SALES

In [1]:
import json

fd = open("record.json","r")
r = fd.read()
fd.close()

records = json.loads(r)

In [10]:
amount = 0

print("enter number of products to buy")
li = int(input())
for i in range(li):
    u_pro = str(input("enter the product id:"))
    u_qty = int(input("enter quantity required:"))
    total = records[u_pro]['price'] * u_qty
    
    if u_qty == 0 or u_qty > records[u_pro]['quantity']:
        print("Sorry ,out of stock")
    else:
      
        print("Product: ",records[u_pro]['name'])
        print("Quantity Available: ",records[u_pro]['quantity'])
        print("Quantity Ordered: ",u_qty)
        print("Price: ",records[u_pro]['price'])
        print("Total: ",total)
        

        amount +=total 
        print("Total amount: ",amount)
       
        
print("THANKS FOR SHOPPING")    
records[u_pro]['quantity'] -= u_qty

enter number of products to buy
1
enter the product id:1004
enter quantity required:2
Product:  Bananas
Quantity Available:  28
Quantity Ordered:  2
Price:  30
Total:  60
Total amount:  60
THANKS FOR SHOPPING

In [12]:

u_name = str(input())
u_contact = int(input())
pay_type = str(input())


sales[(len(sales) + 1)] = {'user' : u_name, 'contact' : u_contact, 'no_of_items' : li,'Total' : amount,'pay' : pay_type}

charan
999
gpay

In [13]:
sales

{1: {'Total': 260,
  'contact': 777,
  'no_of_items': 2,
  'pay': 'online',
  'user': 'RACHI'},
 2: {'Total': 260,
  'contact': 753214,
  'no_of_items': 2,
  'pay': 'paytm',
  'user': 'rachi'},
 3: {'Total': 60,
  'contact': 999,
  'no_of_items': 1,
  'pay': 'gpay',
  'user': 'charan'}}

In [7]:
sale = json.dumps(sales)

In [8]:
fd = open("sales.json",'w')

fd.write(sale)

fd.close()